<main class="main">
  <div class="content">
  <!-- <app-services-redirect/> -->
   <app-fire-suppression-system/>
    <!-- <app-fire-sprinkler-system/> -->
     <!-- <app-fire-hydrant-system/> -->
      <!-- <app-fire-detection-system/> -->
      <!-- <app-fire-audit/> -->
       <!-- <app-fire-extinguisher-refilling/> -->
        <!-- <app-hydraulic-pressure-testing/> -->
         <!-- <app-licensing/> -->
          <!-- <app-repair/> -->
           <!-- <app-training/> -->
  </div>
</main>

<router-outlet />
